<!-- Imports polymer -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<!-- Defines element markup -->
<dom-module id="enzyme-card">
    <link rel="import" href="enzyme-card-style.html">
    <template>
        <style include="enzyme-card-style"></style>
        <div tabindex="0">
            <paper-card on-click="clickHandler" data-dialog$="animate_{{enzymeName}}" >
                <div class="horizontal center-justified layout card-content">
                    <span style="padding:20px">{{enzymeJson.name}}</span>
                    <paper-dialog id="animate_{{enzymeName}}" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                        <h2>Enzyme {{enzymeJson.name}} : {{enzymeJson.fullname}}</h2>
                        <div class="layout vertical">
                            <iron-image id="enzymeImage" sizing="contain" src="{{enzymeJson.image}}"></iron-image>
                            <div class="enzyme-description">
                                {{enzymeJson.description}}
                            </div>
                        </div>
                        <template is="dom-if" if="{{enzymeJson.cazyfam_id}}">
                            <paper-button raised on-click="cazyLink" class="layout start custom red" style="margin-bottom: 20px" >Cazy {{enzymeJson.cazyfam_id}}</paper-button>
                        </template>
                        <template is="dom-if" if="{{enzymeJson.uniprot_id}}">
                            <paper-button raised on-click="uniprotLink" class="layout start custom red" style="margin-bottom: 20px">Uniprot {{enzymeJson.uniprot_id}}</paper-button>
                        </template>
                        <template is="dom-if" if="{{enzymeJson.pdb_id}}">
                            <paper-button raised on-click="pdbLink" class="layout start custom red" style="margin-bottom: 20px">PDB {{enzymeJson.pdb_id}}</paper-button>
                        </template>
                    </paper-dialog>
                </div>
            </paper-card>
        </div>
    </template>

    <!-- Registers custom element -->
    <script>

        Polymer({
            is: 'enzyme-card',
            properties:{
                enzymeJson: Object
            },

            uniprotLink: function(){
                if(this.enzymeJson.uniprot_id){
                    var redirectWindow = window.open ("http://www.uniprot.org/uniprot/"+this.enzymeJson.uniprot_id,'_blank');
                    redirectWindow.location;
                }
            },

            cazyLink: function(){
                if(this.enzymeJson.cazyfam_id){
                    var redirectWindow = window.open ("http://www.cazy.org/fam/"+this.enzymeJson.cazyfam_id+".html",'_blank');
                    redirectWindow.location;
                }
            },

            pdbLink: function(){
                if(this.enzymeJson.pdb_id){
                    var redirectWindow = window.open ("http://www.rcsb.org/pdb/explore/explore.do?structureId="+this.enzymeJson.pdb_id,'_blank');
                    redirectWindow.location;
                }
            },

            clickHandler: function (event) {
                var dialog = this.$$("paper-dialog")
                if (dialog) {
                    dialog.open();
                }
            }
        });
    </script>
</dom-module>
