<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">
<dom-module id="enzyme-card-style">
    <template>
        <style>
            :host {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }

            paper-card {
                @apply(--layout-vertical);
                background-color: #808080;
                color: #ffffff;

            }
            .card-content span {
                @apply(--paper-font-headline);
                padding-top: 15px;
            }


            .enzyme-description {
                margin: 10px;
                text-align: justify;
            }


            paper-button.custom {
                text-decoration: none;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

                --paper-button-ink-color: var(--paper-pink-a200);
                /* These could also be individually defined for each of the
                  specific css classes, but we'll just do it once as an example */
                --paper-button-flat-keyboard-focus: {
                    background-color: var(--paper-pink-a200);
                    color: white !important;
                };
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-pink-a200) !important;
                    color: white !important;
                };
                margin-bottom: 20px;
                padding:10px;
                margin-left: 15px;
            }
            paper-button.red {
                background-color: #e2011b;
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-pink-a200) !important;
                    color: white !important;
                };
            }

            #enzymeImage {
                width:100%;
                height:200px;
            }
        </style>
    </template>
</dom-module>
